.courseSelectorContainer {
  margin-top: 10px;
}
.courseSelectorTitle {
  font: 2.5rem bolder;
  font-family: Arial, sans-serif;
}

.courseButton {
  max-width: 50%;
}
.courseDescription {
  color: aliceblue;
}

.descriptionTitle {
  margin-top: 6%;
}

.courseDescriptor {
  color: aliceblue;
}

.courseCard {
  margin: 20px 0px;
  border: solid 2px black;
  padding: 20px;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(17.5px);
  -webkit-backdrop-filter: blur(17.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.courses {
  background-color: #061377;
  border-top: solid 2px #ffffff;
  padding: 30px;
  margin-top: 100px;
}

.courseThumbnail {
  margin: 20px 0px;
  border: solid 2px black;
  max-height: 200px;
}

.row {
  min-height: 40px;
  margin: 0;
  border-radius: 2px;
}

.mBotCourseBanner {
  margin-top: 30px;
  height: 200px;
  background-position: 0 50%;
  color: aliceblue;
}

.header-img {
  max-width: 100px;
}

.footer {
  margin-top: 80px;
  border-top: solid 2px black;
}

.footer-img {
  max-width: 200px;
}

.anyLink,
.anyLink:visited,
.anyLink:checked {
  text-decoration: none;
  color: inherit;
}

.lessonList {
  margin-top: 20px;
}

li {
  text-align: left;
}

.diagramImage {
  min-height: 800px;
}

.lessonHeader {
  background-color: #0f27e4e1;
  color: aliceblue;
}

.img-thumbnail {
  max-width: 300px;
  margin-right: 50px;
}

.codeResult {
  width: 40%;
}

.navbarBackground {
  position: absolute;
  z-index: -1;
  width: 100%;
  left: 0px;
  top: 0px;
}

.mainPageBackground {
  position: absolute;
  z-index: -1;
  width: 100%;
  left: 0px;
  top: 0px;
  max-height: 700px;
}

.mainNavigationLink:link,
.mainNavigationLink:visited {
  color: aliceblue;
  font-size: 2rem;
}

.mainNavigationLink:hover {
  padding: 10px;
  text-decoration: underline;
}

.logo {
  background-color: transparent;
  border: none;
  max-height: 150px;
}
